ion-card {
  width: 100%;
  height: 100%;
}

.locked {
  background-image: url("../../../../assets/images/icon_padlock.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px center;
}
